@model BookApp.Models.Author

@{
    ViewData["Title"] = "Lägg till författare";
}

<h2>Lägg till</h2>

<h3>Författare</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Name" class="control-label fw-bold mb-1"></label>
                <input asp-for="Name" class="form-control" placeholder="Ange namnet på författaren" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Lägg till författare" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-secondary">Tillbaka till lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
