main {
  margin-top: 2rem;
}

nav a {
  font-size: 1.2rem !important;
  margin-right: 2rem;
}

h1 {
  margin-left: 2rem;
}

/* Responsive design */
@media (max-width: 768px) {
  nav a {
    margin-right: 0;
  }

  .navbar-nav {
    padding: 2rem 0;
  }

  h1 {
    margin-left: 0;
  }
}